{% extends "videos_app/base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<h1>Iniciar sesión</h1>

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}

        {% for error in field.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endfor %}

    <button class="login-submit" type="submit">Entrar</button>
</form>

<p>
    ¿No tienes cuenta?
    <a href="{% url 'register' %}">Regístrate aquí</a>.
</p>
{% endblock %}
