{% extends "videos_app/base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<h1>Crear cuenta</h1>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}

        {% for error in field.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endfor %}

    <button type="submit">Registrarme</button>
</form>

<p>
    ¿Ya tienes cuenta?
    <a href="{% url 'admin:login' %}">Inicia sesión</a>.
</p>
{% endblock %}