{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Zona Táctica{% endblock %}</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="site-footer">
        <p>Zona Táctica © 2026</p>
        <p>Proyecto Final Django</p>
    </footer>
</body>
</html>
